img{
    float: left;
    width: 500px;
}
body{
    font-family: 'Kaisei Decol', serif;
    text-align: center;
}

#inputTwo{
    background: rgb(144, 32, 178);
    padding:10px;
    color:white;
}
ul{
    font-size: 35px;
    list-style-type: none;
}
